/* styles.css */

html {
  overflow: hidden;
  font-size: 1.75rem; /* Adjust the base font size as needed */
  max-width: 100%; /* Allow the content to adjust based on the screen width */
  max-height: 1268px;
  max-width: 1072px;
}

body {
  margin: 3rem; /* Use relative units for margin */
  font-family: "Roboto", sans-serif; /* Use Roboto font with sans-serif as fallback */
  font-weight: 400;
  font-size: 1.25rem; /* Use relative units for font size */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.transit-weather{
  justify-content: none
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.box {
  padding: 0.5rem; /* Use relative units for padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.border {
  border: 1px solid black;
}

.weather-forecast{
  flex: 0 0 25%;
}

.transit{
  flex: 2;
}

/* Sections */

/* Date & Time */
#current-date {
  font-size: 1.5rem;
  line-height: 1.225;
}

#current-time {
  font-size: 3.25rem;
  line-height: 1;
  font-weight: bold;
}

/* Current Weather */
#current-weather {
  font-size: 3.25rem;
}

.forecast-box{
  flex: 0 0 25%;
}

/* Weather Forecast hourly */

/* Weather Forecast daily */

/* Transit */
.box-one {
  flex: 0 0 15%; /* Each small box takes 15% of the container width */
  font-size: 1.15rem;  /*Adjust font size based on viewport width */
  overflow: hidden; /* Ensure content doesn't overflow */
  text-overflow: ellipsis; /* Add ellipsis if content overflows */
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: left;
}
.box-two {
  flex: 1; /* Middle box takes the remaining space */
  font-size: 1.15rem;  /*Adjust font size based on viewport width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Ensure content doesn't overflow */
  text-overflow: ellipsis; /* Add ellipsis if content overflows */
  text-align: left;
}

.box-three {
  flex: 0 0 20%; /* Each small box takes 15% of the container width */
  font-size: 1.15rem;  /*Adjust font size based on viewport width */
  overflow: hidden; /* Ensure content doesn't overflow */
  text-overflow: ellipsis; /* Add ellipsis if content overflows */
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: right;
}

.compliment{
  justify-content: center;
}

/* Compliments */
#compliment {
  text-align: center;
  font-size: 2.5rem;
}